@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

* {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
	-moz-tap-highlight-color: transparent;
	-ms-tap-highlight-color: transparent;
}

body {
	font-family: "DM Sans", sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	max-width: 100vw;
	max-height: 100vh;
	background-image: linear-gradient(249deg, #013B6C -20.75%, #2B7DB4 68.99%);
}

::selection {
	background-color: inherit;
	color: inherit;
	text-decoration: underline #2B7DB4;
}

::-moz-selection {
	background-color: inherit;
	color: inherit;
	text-decoration: underline #2B7DB4;
}